@import 'tailwindcss';
@import 'tailwindcss-animated';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Afacad', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent-50:  #fff5f6;
    --color-accent-100: #ffe5e8;
    --color-accent-200: #ffcbd1;
    --color-accent-300: #ff9ea8;
    --color-accent-400: #f87b8b;
    --color-accent-500: #DD707C;   /* Base */
    --color-accent-600: #c15f6a;
    --color-accent-700: #a14d57;
    --color-accent-800: #7d3a41;
    --color-accent-900: #5a2830;
    --color-accent-950: #3a181d;

    --color-alternate-50:  #f8fae7;
    --color-alternate-100: #f1f6ce;
    --color-alternate-200: #e2ec9d;
    --color-alternate-300: #cfe06d;
    --color-alternate-400: #bcc94e;
    --color-alternate-500: #B2BC62;
    --color-alternate-600: #8d974b;
    --color-alternate-700: #6b7338;
    --color-alternate-800: #4a5027;
    --color-alternate-900: #2e3117;
    --color-alternate-950: #181a0b;

    --color-accent: #DD707C;
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);

    --h-screen-minus-header: calc(100% - 4rem)
    
    --text-shadow-inset: 2px 2px 4px rgba(221,112,124,0.5);

    --text-shadow-inset-test:  1px 4px 6px rgba(221,112,124,0.5), 0 0 0 #7d3a41, 1px 4px 6px rgba(221,112,124,0.5)
}

@layer theme {
    .dark {
        --color-accent: #DD707C;
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-white);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}



html {
    font-size: 18px;
}


input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-1 ring-accent ring-offset-1 ring-offset-transparent;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
